.button{
    height: 2rem;
    width: 8rem;
    background-color: crimson;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.button:active{
    background-color: rgba(220, 20, 60, 0.904);
}